@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');

* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}


body {
  /* background: linear-gradient(45deg, #D3F5CF, #A8DBFA, #635EE2);
  background-repeat: no-repeat;
  background-size: contain; */
  /* width: 100vw;
  height: 100%; */
  background-color: #CBF9DA;
  color: #000;
}

.main-title-1, .main-title-2 {
  font-size: 5rem;
  margin: 40px 0 0;
  font-family: 'Sedgwick Ave Display', cursive;
  color: #05BFDB;
}

.main-title-2 {
  color: #0A4D68;
}

